<ul id="itsmeul">
  <li>
    <a href="/profile">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#profile"></use>
      </svg>
      Profile
    </a>
  </li>
  <li>
    <a href="/orders">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#orders"></use>
      </svg>
      Orders
    </a>
  </li>
  <li>
    <a href="/messages">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#messages"></use>
      </svg>
      Messages
    </a>
  </li>
  <li>
    <div class="sep"></div>
  </li>
  <li id="itsme">
    <a href="/account-settings">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#account-settings"></use>
      </svg>
      Account Settings
    </a>
  </li>
  <li>
    <a hx-post="api/logout">
      <svg class="dropdown-menu-item-icon">
        <use href="/icons.svg?v={{icon_ver}}#sign-out"></use>
      </svg>
      Sign Out
    </a>
  </li>
</ul>
