<dialog id="signup-modal" class="signup-modal">
  <header>
    <h2>Create your account</h2>
    <button id="btn-login-modal-close" class="base auto-raise">X</button>
  </header>
  <div class="body">
    <form hx-post="api/users" hx-target="#login-errors" hx-swap="innerHTML" hx-indicator="#login-submit-btn">
      <div id="login-errors" class="errors"></div>
      <div class="field">
        <label for="modal-login-email">Email</label>
        <input id="modal-login-email" type="email" name="email" autocomplete="email" required autofocus>
      </div>
      <div class="field">
        <label>Password</label>
        <input type="password" name="pwd" autocomplete="current-password" required>
      </div>
      <div class="actions">
        <button id="login-submit-btn" type="submit" class="base primary">
          <span id="login-button-text">Sign in</span>
          <span id="login-spinner" class="spinner"></span>
        </button>
      </div>
    </form>
    <p>
      New here? <a href="/signup" class="link" hx-get="/signup" hx-target="#modal-root" hx-swap="innerHTML">Create an
        account</a>
    </p>
  </div>
</dialog>
