<div id="nav-right" hx-swap-oob="innerHTML">
  <div class="account-dropdown">
    <button id="account-btn" class="account-btn" hx-on:click="handle_account_menu_click()">
      {{first_name}}
      <svg class="menu-button-chevron icon">
        <use href="/icons.svg#chevron"</use>
      </svg>
    </button>
    <div id="account-menu" class="account-menu hidden">
      <ul>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/account-settings">Account Settings</a></li>
      </ul>
    </div>
  </div>
  <button class="cart">
    <svg class="icon">
      <use href="/icons.svg#shopping-cart"</use>
    </svg>
  </button>
</div>
