<div class="modal-backdrop" role="presentation" id="modal">
  <div class="modal" role="dialog" aria-modal="true" aria-labelledby="login-title">
    <header>
      <h2 id="login-title">Sign in</h2>
      <button class="close" aria-label="Close" data-close-modal>X</button>
    </header>

    <div class="body">
      <form id="signin-form" hx-post="api/login" hx-target="#login-errors" hx-swap="innerHTML"
        hx-indicator="#signin-submit-btn">
        <div id="login-errors" class="errors"></div>
        <label>Email
          <input type="email" name="email" autocomplete="email" required autofocus>
        </label>

        <label>Password
          <input type="password" name="pwd" autocomplete="current-password" required>
        </label>

        <div class="actions">
          <button id="signin-submit-btn" type="submit" class="primary">
            <span id="signin-button-text">Sign in</span>
            <span id="signin-spinner" class="spinner"></span>
          </button>
        </div>
      </form>
      <p class="mt-2">
        New here? <a href="/signup" class="link" hx-get="/signup" hx-target="#modal-root" hx-swap="innerHTML">Create an
          account</a>
      </p>
    </div>
  </div>
</div>
