/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Nunito:wght@400;700&display=swap");

/* Color Palette */
:root {
    --color-primary: #e07a5f; /* Terracotta */
    --color-primary-darker: #c05a3f; /* Terracotta Darker */
    --color-secondary: #81b29a; /* Sage Green */
    --color-neutral: #fdfbf7; /* Creamy White */
    --color-neutral-darker: #dddbd7; /* Creamy White Darker */
    --color-accent: #f2cc8f; /* Mustard */
    --color-text: #3d404b; /* Charcoal */
    --color-borders: #3d404b33; /* Charcoal Lighter */
    --color-box-shadow: rgba(0, 0, 0, 0.25); /* Slightly Opaque */
}

/***************/
/* Base styles */
/***************/

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    background-color: var(--color-neutral);
    color: var(--color-text);
}

input,
textarea,
select {
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid var(--color-borders);
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

input {
    max-width: 25rem;
}

input.file {
    display: none;
}

.main-content {
    margin: auto;
    padding: 1rem;
    max-width: 83rem;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.save-success-ind {
    text-align: center;
    color: rgb(0,128,0);
    font-weight: 700;
    border-radius: 0.5rem;
    /* border: 1px solid rgb(0,128,0); */
    padding: 0.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    margin: 0.5em 0;
}

.hidden {
    display: none;
}

.errors {
    text-align: center;
    color: red;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
}

/* Spinner tied to hx-indicator */
.spinner {
    display: none;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid transparent;
    border-top-color: var(--color-secondary);
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/**********/
/* Navbar */
/**********/

.navbar {
    background-color: white;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
}

.nav-left .logo {
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--color-primary);
}

.nav-center {
    flex: 1 1 auto;
    max-width: 600px;
    margin: 0 1.5rem;
}

.nav-center input {
    max-width: none;
    border-radius: 1.25rem;
}

.nav-right {
    display: flex;
    align-items: center;
}

/******************/
/* Dropdown Menus */
/******************/

.menu-button {
    position: relative;
}

.menu-button-chevron {
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
    pointer-events: none;
    width: 1rem;
    height: 1rem;
}

.dropdown-menu {
    background-color: var(--color-neutral);
    right: 0;
    top: calc(100% + 0.5rem);
    position: absolute;
    border-radius: 0.75rem;
    min-width: 12.5rem;
    box-shadow: 0 0.75rem 2.5rem var(--color-box-shadow);
    padding: 0.5rem;
    z-index: 10;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 0.75rem;
    font-size: 0.9em;
}

.dropdown-menu a:hover {
    background: var(--color-primary);
    color: var(--color-neutral);
}

/* Kepp the first and last items with soft corners */
.dropdown-menu li:first-child:hover {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.dropdown-menu li:last-child:hover {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.dropdown-menu-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}

.dropdown-menu li .sep {
    height: 1px;
    background: var(--color-borders);
    margin: 0.5rem 0;
}

/***********/
/* Buttons */
/***********/
/* We use the btn-base also so that non buttons can still be styled as a button (such as just a div or label) */
button.base,
.btn-base {
    padding: 0.5rem 0.9rem;
    margin: 0 0.5rem;
    border: 1px solid var(--color-borders);
    border-radius: 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-text);
    min-width: 6rem;
}

button.base:hover,
.btn-base:hover {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

button.primary,
.btn-primary {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

button.primary:hover,
.btn-primary:hover {
    border: none;
    background-color: var(--color-primary-darker);
    color: var(--color-neutral);
}

button.account-menu {
    position: relative;
    padding-right: 1.6rem; /* Space for dropdown arrow */
}

button.auto-raise,
.btn-auto-raise {
    min-width: fit-content;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 1.25rem;
    background-color: transparent;
    color: var(--color-text);
}

button.auto-raise:hover,
.btn-auto-raise:hover {
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

#btn_edit_profile_save {
    align-self: center;
}

/************************/
/* Sign in modal dialog */
/************************/

.login-modal, .create-account-modal {
    background: var(--color-neutral);
    color: var(--color-text);
    border-radius: 12px;
    border: none;
    overflow: hidden;
    min-width: 22rem;
}

.login-modal header, .create-account-modal header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid var(--color-borders);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-modal .body, .create-account-modal .body {
    padding: 1rem 1rem;
}

.login-modal .link {
    cursor: pointer;
    color: var(--color-primary);
    text-decoration: none;
}

.login-modal .link:hover {
    text-decoration: underline;
}

/* This shows the spinner and hides the button text on active request */
.htmx-request #btn-login-submit-spinner {
    display: inline-block;
}

.htmx-request #btn-login-submit-text {
    display: none;
}

/****************/
/* Forms Fields  */
/****************/
.profile,.settings {
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid var(--color-borders);
    background-color: #fff;
    border-radius: 8px;
}

form.edit-profile,form.edit-settings {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

form .field {
    padding: 0 0 1rem;
}

form .field label.block {
    display: block;
}

form .field label {
    font-size: 0.9em;
    font-weight: 700;
}

form .field .hint {
    margin: 0.25rem 0;
    font-size: 0.7em;
    font-style: italic;
}

form .actions {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 0.5rem;
}

/***************/
/* Profile-Pic */
/***************/

.profile-pic {
    border-radius: 50%;
    margin: 0.5rem;
    background-color: var(--surface-2, #f2f2f2);
    border: 1px solid var(--color-borders);
    font-size: 0;
    overflow: hidden;
}

.profile-pic img {
    width: 10rem;
    height: 10rem;
}

/*********************/
/* Global Animations */
/*********************/
.temp-item {
  opacity: 1;
  transition: opacity 1s ease;
}

.temp-item.hide {
  opacity: 0;
}
